@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


:root {
--dark1: #0D0E1C;
--dark2: #262942;
}


/* ALL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
/* Background */
body {
	background: linear-gradient(180deg,var(--dark1),var(--dark2));		
}



.login{
    z-index: 10;
    width: 100%;
}

.loginbox {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: #262942;		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #0D0E1C; 
}

.screen__content {
	position: relative;	
	height: 100%;
}

input {
    width: inherit;
    height: 50px;
    background: #262942;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
    text-align:justify;
    padding-left: 15px;
    border: none;
    box-shadow:inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
                inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
                inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4);
    transition: all 0.3s ease-in-out;
   }
   
   input:focus {
    outline: none;
    box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
            inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
            inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4),
            5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
            -5px -5px 10px 2.5px rgba(77, 71, 100, 0.4),
            -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
   }


.divv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.loginbutton {
top: 0;
margin: 5px;
width:auto;
height:25px;
border-width: 0 6px 6px 0;
display: inline-block;
transition: background 0.1s ease-in-out;
}



.btn {
text-align: center;
border-radius: 25px;
border: #262942;
margin: 15px;
background: #262942;
cursor: pointer;
box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
transition: background 0.1s ease-in-out;
}

.btn:hover {
background: #555b96;
}

.btn:active {
  box-shadow: 5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
          -5px -5px 10px 2.5px rgba(77, 71, 100, 0.3),
          -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
          background: #3a3842;
}

.btn:active .wordd {
  border-width: 0 6px 6px 0;
}
